.espaco{
	width:130px !important;
	height:100px !important;
	border:2px solid blue !important;
	float:left !important;
	text-align:center !important;
	padding-top:30px !important;
}
.tabuleiro{
	margin:auto !important;
	width:515px !important;
	height:528px !important;
}
#mostrador{
	margin:auto !important;
	margin-top:40px !important;
	width:528px !important;
	margin-bottom:30px !important;
}

